{% extends 'base.html' %}
{% block body %}
<div class="info">
    <div class="filter">
        <div class="intro">
            <img src="static/photos/pexels-fauxels-3183197.jpg">
        </div>
    </div>
    <div class="maininfo">
        <div class="infotittle">
            <h2>О НАС</h2>
            <a>LIVINGSTONE - независимая консалтинговая компания в области портфельных 
                инвестиций. Мы специализируемся на предоставлении независимой аналитической информации по международным публичным 
                компаниям на вторичном рынке и в рамках проведения IPO.
                 Наш инвестиционный стиль состоит преимущественно из поиска растущих предприятий и компаний глубокой стоимости. 
                 Каждый день мы помогаем таким людям, как вы, принимать инвестиционные решения и преумножать свое состояние. 
                 Благодаря нашим принципам, проверенному опыту и ведущим 
                на рынке стандартам вы знаете, что находитесь в надежных руках.
            </a>
            <h2>МИССИЯ</h2>
            <a>Наша миссия - помочь как можно большему количеству людей обрести финансовое 
                благополучие посредством инвестирования в наиболее перспективные компании. 
                Мы стремимся помочь нашим клиентам, сотрудникам и сообществам в достижении финансовой безопасности, финансовой мобильности и 
                финансовой свободы.
            </a>
            <h2>7 ПРИНЦИПОВ LIVINGSTONE</h2>
            <a>1. Принципиальность и честность лежат в основе нашего бизнеса.</a>
            <a>2. Наша инвестиционная философия заключается в долгосрочном сохранении и преумножении капитала. Без первого невозможно второе.</a>
            <a>3. Инвестиции для нас - это процесс мытья золота; каждый из наших старателей должен обладать взглядом Пикассо на обыденные вещи.</a>
            <a>4. Интересы наших клиентов всегда на первом месте. Наш опыт показывает, что если мы хорошо обслуживаем наших клиентов, наш собственный успех обязательно последует.</a>
            <a>5. Наш главный актив - это  репутация. Этот актив легко потерять и очень сложно восстановить. Мы стремимся полностью следовать духу закона, правил и этических принципов, которыми мы руководствуемся. Наш дальнейший успех зависит от непоколебимости в соблюдении этих стандартов.</a>
            <a>6. Мы обладаем бескомпромиссной решимостью достичь совершенства во всем, за что мы беремся.</a>
            <a>7. Мы делаем упор на командную работу во всем. Хотя индивидуальная инициатива всегда поощряется, мы считаем, что командные усилия часто дают лучшие результаты. У нас нет места для тех, кто ставит свои личные интересы выше интересов фирмы и ее клиентов.</a>
        </div>
    </div>
</div>
{% endblock %}